.para{
 width: 100px;
 height: 20px;
 background-color: brown;
 color: white;
 font-weight: bold;
}
.d1{
 background-color:pink;
 height: 180px;
 width: 500px;
 float: left;
 margin-left: 150px;
}
.d2{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 float: left;
 margin-left: 60px;
 margin-top: 20px;
}
.b1{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 font-size: 25px;
}
.d3{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 float: left;
 margin-left: 20px;
 margin-top: 20px;
}
.b2{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 font-size: 25px;
}
.d4{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 float: left;
 margin-left: 20px;
 margin-top: 20px;
}
.b3{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 font-size: 25px;
}
.d5{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 float: left;
 margin-left: 20px;
 margin-top: 20px;
}
.b4{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 font-size: 25px;
}
.d6{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 float: left;
 margin-left: 20px;
 margin-top: 20px;
}
.b5{
 background-color: burlywood;
 height: 30px;
 width: 60px;
 font-size: 25px;
}
.d7{
 background-color: cadetblue;
 height: 40px;
 width: 100px;
 float: left;
 margin-top: 10px;
 margin-left: 200px ;
 
}
.b6{
 background-color: cadetblue;
 height: 40px;
 width: 100px;
}
.input1{
 margin-top: 20px;
}